* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	padding: 1em;
	text-align: center !important;
}

.contenedor {
	width: 1200px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  }

  #header {
	height: auto;
	width: 100%;
	background: #93ABC1;
	line-height: 80px; 

  }

.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;

}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
	
}

.perf { 
    margin: 25px;
	border-radius: 80%;
}

* {
    opacity: 0;
    transition: all 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




#experiencia {
	width: 40%;
	float: left;
	margin-left: 5%;
  }
  #habilidades {
	width: 40%;
	float: right;
	margin-left: 5%;
  }








.experiencia ul {
	margin-top: 0;
  }
  .experiencia ul li {
	list-style: none;
	padding: 10px;
	background: #3F648A;
	color: #fff;
	margin-bottom: 5px;
  }
  #habilidades h3 {
	margin-bottom: 10px;
  }
  #habilidades ul {
	margin-top: 0;
  }
  #habilidades ul li {
	list-style: none;
	padding: 10px;
	background: #3F648A;
	color: #fff;
	margin-bottom: 5px;
}




#pie {
	text-align: center;
	vertical-align: middle;
	padding: auto;
	background: #93ABC1;
  }
